/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

// Style reset for all input fields
input {
	width: 100%;
	background: none;
	outline: none;
}

.invoiceTable {
	th {
		@apply text-sm text-left bg-white;
	}

	th,
	td {
		padding: 0.3rem 0.7rem;

		&:first-child,
		&:last-child {
			padding: 0;
		}
	}

	.tablePadding {
		padding: 0.3rem 0.7rem;
	}

	tr:nth-child(odd) {
		background-color: #f3f7fc;
	}

	tr:nth-child(even) {
		@apply bg-white;
	}

	tr.borderline {
		@apply border-b border-gray-300;
	}
}

.vertialSelector {
	@apply flex;

	.item {
		@apply flex items-center justify-center h-14 w-14 border-blue-500  bg-white cursor-pointer select-none hover:text-blue-500 hover:border mr-2;

		&.active {
			@apply text-blue-500 border-2 hover:border-2;
		}

		.actions {
			@apply hidden absolute -mt-8;

			.action {
				@apply hover:text-blue-500 text-lg text-gray-600  text-opacity-20 hover:text-opacity-100 cursor-pointer;
			}
		}

		&:hover .actions {
			@apply flex;
		}
	}
}

input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'],
input[type='tel'],
input[type='url'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='search'],
textarea,
select {
	&:not(.pure) {
		@apply border border-gray-300 px-2 py-1;
	}
}

// Style scrollbar
::-webkit-scrollbar {
	width: 0.4rem;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
